@charset "utf-8";
.header_inner {
	background: #fff;
	position: fixed;
	width: 100%;
	padding: 15px;
}
.home {
	color: #777;
}
@media screen and (max-width: 766px) {
	.hamburger-icon {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 24px;
		width: 30px;
		cursor: pointer;
	}
}
a {
	text-decoration: none;
}
.main {
	padding-top: 78px;
}
.btn-burger {
	cursor: pointer;
	display: block;
	width: 56px;
	height: 60px;
	position: absolute;
	top: 5px;
	right: 10px;
}
/*ハンバーガーアイコンを作る三本線*/

.icon, .icon:before, .icon:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 2px;
	/*線の太さ*/
	width: 35px;
	/*線の長さ*/
	background-color: #444;
	border-radius: 2px;
	display: block;
	content: '';
	cursor: pointer;
	margin: auto;
}
/*三本線の間隔*/

.icon:before {
	top: 20px;
}
.icon:after {
	top: -20px;
}
/*チェックボックス非表示*/

.nav-toggle {
	display: none;
}
/*アイコンをクリックしたら*/

.nav-toggle:checked~.btn-burger .icon {
	background: transparent;
}
.nav-toggle:checked~.btn-burger .icon:before {
	transform: rotate(-45deg);
	top: 0;
}
.nav-toggle:checked~.btn-burger .icon:after {
	transform: rotate(45deg);
	top: 0;
}
.icon, .icon:before, .icon:after {
	transition: all .8s;
}
/*中身*/

.nav-list a {
	display: block;
	text-decoration: none;
	color: #fff;
}
.nav-list {
	list-style: none;
	display: none;
	margin: 0;
	padding-left: 20px;
}
.nav-list li {
	margin: 0;
	padding: 10px;
}
.nav-toggle:checked~.nav .nav-list {
	display: block;
}
/*メインイメージ*/

.top {
	height: 200px;
	margin-bottom: 50px;
	background-color: #f0f8ff;
}
/* --------------------------------------------------
幅768px以上のスタイル指定 ここから
-------------------------------------------------- */

@media screen and (min-width: 768px) {
	/* ハンバーガーボタン */
	.btn-burger {
		display: none;
		/*768px以上では使用しない */
	}
	.logo {
		width: auto;
		margin: 0 0 20px;
		padding: 0;
		text-align: center;
	}
	.nav-toggle:checked~.nav .nav-list {
		display: none;
	}
	.nav {
		height: 75px;
	}
	.nav-list {
		display: flex;
		justify-content: center;
		height: 75px;
		align-items: center;
	}
	.nav-list li:not(:last-child) {
		border-right: 1px solid #fff;
	}
}
.manu {
	margin: 10px;
}
.manu a {
	color: #ffffff;
	background-color: #6ba7eb;
	font-size: 12px;
	padding: 12px 14px;
}
@media screen and (max-width: 766px) {
	.manu a {
		display: none;
	}
}
.manu a:hover {
	color: #333;
	transition: color 0.3s ease 0s;
}
.keyvisual {
	padding-top: 400px;
	padding-bottom: 400px;
	background: url(../image/keyvisual.jpg)no-repeat center/cover;
}
@media screen and (max-width: 1099px) {
	.keyvisual {
		padding-top: 400px;
		padding-bottom: 400px;
	}
}
@media screen and (max-width: 1197px) {
	.keyvisual {
		padding-top: 250px;
		padding-bottom: 250px;
	}
}
@media screen and (max-width: 766px) {
	.keyvisual {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}
.work {
	background: #e3f2fd;
	padding-top: 50px;
}
.inner {
	width: 1100px;
	margin: 0 auto;
}
@media screen and (max-width: 766px) {
	.inner {
		width: 100%;
	}
}
.pc_png {
	width: 250px;
}
.web {
	color: #6ba7eb;
	font-size: 65px;
	font-weight: 700;
	white-space: nowrap;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 766px) {
	.web {
		font-size: 40px;
	}
}
.direction {
	font-size: 40px;
	font-weight: 700;
	color: #ffffff;
	margin-top: 30px;
	white-space: nowrap;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 766px) {
	.direction {
		font-size: 30px;
	}
}
.first-title {
	font-size: 40px;
	letter-spacing: 10px;
	text-align: center;
	padding-top: 20px;
}
.a {
	display: flex;
}
.skills-inner, .skills_inner {
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 766px) {
	.skills-inner, .box {
		flex-direction: column;
		align-items: center;
	}
}
@media screen and (max-width: 766px) {
	.box li:nth-of-type(3n) {
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 766px) {
	.box li:nth-child(1n+1) {
		margin-right: 0px;
	}
}
.pc_area {
	margin: auto;
	width: 40%;
}
.text_area {
	text-align: center;
	width: 60%;
}
@media screen and (max-width: 766px) {
	.text_area {
		width: 100%;
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 766px) {
	.work {
		width: 100%;
	}
}
.text {
	font-size: 15px;
	line-height: 18px;
	word-break: break-all;
	padding-top: 35px;
}
.skills {
	padding-bottom: 70px;
	padding-top: 50px;
}
.bg-white {
	background: #fff;
}
.box img {
	width: 300px;
	height: 300px;
	opacity: 0.7;
}
.box {
	display: flex;
	flex-wrap: wrap;
}
.box li {
	margin-right: 100px;
}
.box li:nth-of-type(3n) {
	margin-right: 0px;
}
.box li:nth-child(n+4) {
	margin-top: 100px;
}
@media screen and (max-width: 766px) {
	.box li:nth-child(n+4) {
		margin-top: 0;
	}
}
.box img:hover {
	opacity: 1.0;
	transition: .7s;
}
.second-title {
	text-align: center;
	padding-bottom: 50px;
	font-size: 40px;
	letter-spacing: 10px;
}
.plan {
	background-color: #d0dfea;
	padding-top: 50px;
	padding-bottom: 50px;
}
.third-tytle {
	font-size: 40px;
	letter-spacing: 10px;
	text-align: center;
	padding-bottom: 50px;
}
.bg-light_blue {
	display: flex;
	justify-content: center;
}
.cell-table {
	background-position: center;
	width: 1100px;
	table-layout: fixed;
	border-collapse: collapse;
}
th {
	background: #6ba7eb;
}
th:nth-child(4) {
	border-right: none;
}
td:nth-child(4n) {
	border-right: none;
}
th, td {
	border-right: 2px solid #fff;
	padding: 10px;
	text-align: center;
}
th, td {
	font-size: 16px;
	line-height: 26px;
}
@media screen and (max-width: 766px) {
	th, td {
		font-size: 14px;
		line-height: 22px;
	}
}
tr {
	background: #e0efff;
}
tr:nth-child(2n+1) {
	background: #f9f9f9;
}
.nobrder {
	border-left: none;
}
.sns-logo {
	background: #e3f2fd;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}
@media screen and (max-width: 766px) {
	.sns-logo {
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.s_logo {
	font-size: 40px;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 766px) {
	.s_logo, .logo_1, .logo_2, .logo_3, .logo_4 {
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
.footer_inner {
	background: #cfd8dc;
	padding-top: 20px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}
.word {
	font-size: 10px;
	letter-spacing: 0.5px;
	color: #8c8c8c;
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
	.word {
		font-size: 12px;
	}
}
.s_logo a {
	width: 185px;
	color: #8c8c8c;
	transition: all 0.5s;
	padding-top: 25px;
	padding-bottom: 25px;
}
.s_logo a:hover {
	background: #fff;
}
.inner_word {
	width: 1100px;
	margin: 0 auto;
	text-align: right;
}