@charset "utf-8";

.header_inner {
  background: #fff;
  position: fixed;
  width: 100%;
  padding: 15px;
}

.home {
  color: #777;
}

.manu{
  margin: 10px;
}


.manu a {
  color: #ffffff;
  background-color: #6ba7eb;
  font-size: 12px;
  padding: 12px 14px;
}

.manu a:hover {
  color: #333;
  transition: color 0.3s ease 0s;
}

a {
  text-decoration: none;
}

.main {
  padding-top: 78px;
}

.keyvisual {
  padding-top: 400px;
  padding-bottom: 400px;
  background: url(../image/keyvisual.jpg)no-repeat center/cover;
}

.work {
  background: #e3f2fd;
  padding-top: 50px;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

img {
  width: 250px;
  height: 200px;
}

.web {
  color: #6ba7eb;
  font-size: 65px;
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.direction {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 30px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.first-title {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  padding-top: 20px;
}

.a {
  display: flex;
}

.skills-inner {
  display: flex;
  justify-content: space-between;
}

.pc_area {
  margin: auto;
}

.text_area {
  text-align: center;
  width: 60%;
}

.text {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  padding-top: 35px;
}

.skills {
  padding-bottom: 70px;
  padding-top: 50px;
}

.bg-white {
  background: #fff;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: 0.7;
}

.box a {
  display: flex;
  margin-right: 100px;
}

.box li:nth-child(n+4) {
  margin-top: 100px;
}

.hover-transparency:hover {
  opacity: 1.0;
}

.image {
  width: 300px;
  height: 300px;
}

.skils_image {
  height: 300px;
  width: 300px;
}

.skils_image:nth-child(3n){
  margin-right: 0px;
}

.second-title {
  text-align: center;
  padding-bottom: 50px;
  font-size: 40px;
  letter-spacing: 10px;
}

.plan {
  background-color: #d0dfea;
  padding-top: 50px;
}

.third-tytle {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
  padding-bottom: 50px;
}

.bg-light_blue {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.cell-table {
  background-position: center;
  width: 1100px;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  background: #6ba7eb;
}

th,
td {
  border-right: 2px solid #fff;
  padding: 10px;
  text-align: center;
}

th,
td {
  font-size: 16px;
  line-height: 26px;
}

tr {
  background: #e0efff;
}

tr:nth-child(2n+1) {
  background: #f9f9f9;
}

.nobrder {
  border-left: none;
}

.sns-logo {
  background: #e3f2fd;
  text-align: center;
  padding-top: 200px;
}

.s_logo {
  font-size: 40px;
  display: flex;
  padding: 25px;
  justify-content: center;
  padding-bottom: 200px;
}

.footer_inner {
  background: #cfd8dc;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.word {
  font-size: 10px;
  letter-spacing: 0.5px;
  color: #8c8c8c;
}

a i {
  width: 185px;
  color: #8c8c8c;
}

a i:hover {
  background: #fff;
  margin: 0 auto;
  transition: .5s;
}

.inner_word {
  width: 1100px;
  margin: 0 auto;
  text-align: right;
}